.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main{
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
  height: 800px;
  background-color: bisque;
}
.submain{
  display:flex;
  justify-content: center;
  width: 500px;
  height: 400px;
  box-shadow: 11px 12px 13px 12px rgb(207,207,207);
  padding-top: 30px;
  border-radius: 50px;
  background-color: white;
}
.mainpersonal{
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
}
.subpersonal{
  display:flex;
  justify-content: center;
  width: 600px;
  height: 800px;
  box-shadow: 11px 12px 13px 12px rgb(207,207,207);
  padding-top: 30px;
  border-radius: 60px;
  background-color:skyblue;
}
.maineducational{
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
}
.subeducational{
  display:flex;
  justify-content: center;
  width: 700px;
  height: 2000px;
  box-shadow: 11px 12px 13px 12px rgb(207,207,207);
  padding-top: 30px;
  border-radius: 60px;
  background-color: gray;
}
.mainproject{
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
}
.subproject{
  display:flex;
  justify-content: center;
  width: 700px;
  height: 900px;
  box-shadow: 11px 12px 13px 12px rgb(207,207,207);
  padding-top: 30px;
  border-radius: 60px;
  background-color: greenyellow;
}
.mainskill{
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;

}
.subskill{
  display:flex;
  justify-content: center;
  width: 600px;
  height: 500px;
  box-shadow: 11px 12px 13px 12px rgb(207,207,207);
  padding-top: 30px;
  border-radius: 60px;
  background-color:#61dafb;
}
.mainexperience{
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
}
.subexperience{
  display:flex;
  justify-content: center;
  width: 700px;
  height: 1200px;
  box-shadow: 11px 12px 13px 12px rgb(207,207,207);
  padding-top: 30px;
  border-radius: 60px;
  background-color: pink;
}
.mainr{
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
  height: 800px;
  background:url(/src/appli.webp) ;
}
.subr{
  display:flex;
  justify-content: center;
  width: 500px;
  height: 500px;
  box-shadow: 10px 10px 10px 10px whitesmoke;
  padding-top: 30px;
  border-radius: 60px;
  background-color: grey;
}