.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(15, 1, 1, 0.938);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main{
  text-align:center;
  justify-content: center;
  display:flex;
  padding:90px 0 90px 0;
  height:800px;
  background:url(/public/loginpic.jpg);
}
.submain{
  display:flex;
  justify-content: center;
  width: 500px;
  height: 400px;
  box-shadow: 10px 10px 10px 10px rgba(41, 48, 51, 0.527);
  padding-top: 30px;
  border-radius: 60px;
  background-color:rgba(35, 153,199,0.527);
}
.mainpersonal{
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
  background:url(/public/formpic.jpg);
}
.subpersonal{
  display:flex;
  justify-content: center;
  width: 600px;
  height: 600px;
  box-shadow: 11px 12px 13px 12px rgb(207,207,207);
  padding-top: 30px;
  border-radius: 60px;
  background-color:skyblue;
}
.maineducational{
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
  background:url(/public/formpic.jpg);
}
.subeducational{
  display:flex;
  justify-content: center;
  width: 700px;
  height: 1500px;
  box-shadow: 11px 12px 13px 12px rgb(207,207,207);
  padding-top: 30px;
  border-radius: 60px;
  background-color:skyblue;
}
.mainproject{
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
  background:url(/public/formpic.jpg);
}
.subproject{
  display:flex;
  justify-content: center;
  width: 700px;
  height: 900px;
  box-shadow: 11px 12px 13px 12px rgb(207,207,207);
  padding-top: 30px;
  border-radius: 60px;
  background-color:skyblue;
}
.mainskill{
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
  background:url(/public/formpic.jpg);

}
.subskill{
  display:flex;
  justify-content: center;
  width: 600px;
  height: 500px;
  box-shadow: 11px 12px 13px 12px rgb(207,207,207);
  padding-top: 30px;
  border-radius: 60px;
  background-color:skyblue;
}
.mainexperience{
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
  background:url(/public/formpic.jpg);
}
.subexperience{
  display:flex;
  justify-content: center;
  width: 700px;
  height: 1200px;
  box-shadow: 11px 12px 13px 12px rgb(207,207,207);
  padding-top: 30px;
  border-radius: 60px;
  background-color:skyblue;
}
.mainr{
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
  height: 800px;
  background:url(/public/registerpic.webp);
}
.subr{
  display:flex;
  justify-content: center;
  width: 500px;
  height: 500px;
  box-shadow: 10px 10px 10px 10px rgba(41, 48, 51, 0.527);
  padding-top: 30px;
  border-radius: 60px;
  background-color:rgba(35, 153,199,0.527);
}
.icon{
  width:200px;
  justify-content: left;
  position:fixed;
  top:0px;
  left:0px;
}

