.register {
  margin: 0;
  background:url(/public/homepagepic2.webp) no-repeat; 
  position: fixed; 
  background-size: cover;
  top: 0;    left: 10;    right: 0;   bottom: 0;   min-width: 100%;   min-height: 100%;
}
.homepage {
  margin: 0;
  background:url(/public/homepagepic3.jpg) no-repeat; 
  position: fixed; 
  background-size: cover;
  top: 0;    left: 0;    right: 20;   bottom: 0;   min-width: 100%;   min-height: 50%;
}
/*body {
  margin: 0;
  background-image:url(/public/homepagepic.jpg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:montserrat,sans-serif;
}




